body {
  background-color: #FBFAFC;
}

.logo {
  width: 100vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5.6rem;
}

.add-to-section {
  width: 100vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-todo {
  width: 82.8rem;
  height: 88px;
  background-color: white;
  margin-top: 13.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-input {
  width: 68.4rem;
  height: auto;
}

.text-input input {
  width: 68.4rem;
  font-family: sofia-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  color: black;
  border: none;
  margin-left: 7.2rem;
  outline-style: none;
}

::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.3);
}

:-ms-input-placeholder {
  font-style: italic;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.3);
}

::-ms-input-placeholder {
  font-style: italic;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.3);
}

::placeholder {
  font-style: italic;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.3);
}

.underline {
  width: 68.4rem;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.104);
  margin-top: 2px;
  margin-left: 7.2rem;
}

.add-todo button, .add-todo button:active {
  border: none;
  background-color: none;
  outline-style: none;
}

.buttonAdd {
  margin-right: 21px;
}

.tasks {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.divResult {
  position: relative;
  width: 82.8rem;
  height: 8.8rem;
  margin-top: 2.2rem;
  background-color: white;
  border: 1px rgba(0, 0, 0, 0.05) solid;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.05);
  border-Radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-Items: center;
}

.button-delete {
  position: absolute;
  right: 31px;
  width: 12px;
  height: 12px;
  border: none;
  background-color: none;
  outline-style: none;
}

.tasksText {
  font-family: sofia-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  color: black;
  position: absolute;
  left: 72px;
}

.button-check {
  position: absolute;
  left: 21px;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  border: none;
  background-color: none;
  outline-style: none;
}

.button-check:checked {
  position: absolute;
  left: 21px;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  border: none;
  background-color: none;
  outline-style: none;
}

@media (max-width: 900px) {
  :root {
    font-size: 9px;
  }
}

@media (max-width: 800px) {
  :root {
    font-size: 8px;
  }
}

@media (max-width: 700px) {
  :root {
    font-size: 7px;
  }
}

@media (max-width: 600px) {
  :root {
    font-size: 6px;
  }
}

@media (max-width: 500px) {
  :root {
    font-size: 5px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 10px;
}

button {
  background: none;
}
/*# sourceMappingURL=main.css.map */